<a href="https://colab.research.google.com/github/QcoJuanDavidMarin/Diplomado/blob/master/Tallerdepandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Importar los datos de google drive

from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
# Imports necesarios
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('/content/gdrive/MyDrive/Ejercicios Diplo IA/PRSA_data_2010.1.1-2014.12.31.csv')

Para tener una idea de de las variables del data set

In [4]:

print(data.shape)
data

(43824, 13)

          No  year  month  day  hour  pm2.5  ...  TEMP    PRES  cbwd     Iws  Is  Ir
0          1  2010      1    1     0    NaN  ... -11.0  1021.0    NW    1.79   0   0
1          2  2010      1    1     1    NaN  ... -12.0  1020.0    NW    4.92   0   0
2          3  2010      1    1     2    NaN  ... -11.0  1019.0    NW    6.71   0   0
3          4  2010      1    1     3    NaN  ... -14.0  1019.0    NW    9.84   0   0
4          5  2010      1    1     4    NaN  ... -12.0  1018.0    NW   12.97   0   0
...      ...   ...    ...  ...   ...    ...  ...   ...     ...   ...     ...  ..  ..
43819  43820  2014     12   31    19    8.0  ...  -2.0  1034.0    NW  231.97   0   0
43820  43821  2014     12   31    20   10.0  ...  -3.0  1034.0    NW  237.78   0   0
43821  43822  2014     12   31    21   10.0  ...  -3.0  1034.0    NW  242.70   0   0
43822  43823  2014     12   31    22    8.0  ...  -4.0  1034.0    NW  246.72   0   0
43823  43824  2014     12   31    23   12.0  ...  -3.0  1034.0    NW  249.85   0   0

[43824 rows x 13 columns]

Obtener mas informacion de la base de datos

In [5]:
data.info()
print('/n')
print('Las dimensiones de la base de datos son:', data.shape[0],'Filas y', data.shape[1],'Columnas')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43824 entries, 0 to 43823
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   No      43824 non-null  int64
 1   year    43824 non-null  int64
 2   month   43824 non-null  int64
 3   day     43824 non-null  int64
 4   hour    43824 non-null  int64
 5   pm2.5   41757 non-null  float64
 6   DEWP    43824 non-null  int64
 7   TEMP    43824 non-null  float64
 8   PRES    43824 non-null  float64
 9   cbwd    43824 non-null  object
 10  Iws     43824 non-null  float64
 11  Is      43824 non-null  int64
 12  Ir      43824 non-null  int64
dtypes: float64(4), int64(8), object(1)
memory usage: 4.3+ MB
/n
Las dimensiones de la base de datos son: 43824 Filas y 13 Columnas

Solo informacion de las columnas

In [6]:
print(data.dtypes) # Tipo de objeto de la columna
print('\n')
print(data.describe())
print('\n')
print(data.describe(include='all'))

No         int64
year       int64
month      int64
day        int64
hour       int64
pm2.5    float64
DEWP       int64
TEMP     float64
PRES     float64
cbwd      object
Iws      float64
Is         int64
Ir         int64
dtype: object


                 No          year  ...            Is            Ir
count  43824.000000  43824.000000  ...  43824.000000  43824.000000
mean   21912.500000   2012.000000  ...      0.052734      0.194916
std    12651.043435      1.413842  ...      0.760375      1.415867
min        1.000000   2010.000000  ...      0.000000      0.000000
25%    10956.750000   2011.000000  ...      0.000000      0.000000
50%    21912.500000   2012.000000  ...      0.000000      0.000000
75%    32868.250000   2013.000000  ...      0.000000      0.000000
max    43824.000000   2014.000000  ...     27.000000     36.000000

[8 rows x 12 columns]


                  No          year  ...            Is            Ir
count   43824.000000  43824.000000  ...  43824.000000  43824.000000
unique           NaN           NaN  ...           NaN           NaN
top              NaN           NaN  ...           NaN           NaN
freq             NaN           NaN  ...           NaN           NaN
mean    21912.500000   2012.000000  ...      0.052734      0.194916
std     12651.043435      1.413842  ...      0.760375      1.415867
min         1.000000   2010.000000  ...      0.000000      0.000000
25%     10956.750000   2011.000000  ...      0.000000      0.000000
50%     21912.500000   2012.000000  ...      0.000000      0.000000
75%     32868.250000   2013.000000  ...      0.000000      0.000000
max     43824.000000   2014.000000  ...     27.000000     36.000000

[11 rows x 13 columns]

# Seleccionar subconjuntos de una base de datos
Para ver el nombre de las columnas que existen

In [7]:
data.columns

Index(['No', 'year', 'month', 'day', 'hour', 'pm2.5', 'DEWP', 'TEMP', 'PRES',
       'cbwd', 'Iws', 'Is', 'Ir'],
      dtype='object')

In [8]:
# Elegir una columna especifica 

month = data['month']

In [9]:
print(month.shape)
print(data['month'].shape)
print(type(month))

(43824,)
(43824,)
<class 'pandas.core.series.Series'>

In [10]:
#Seleccionar ungrupo de columnas

pm_TEMP = data[['pm2.5','TEMP']]
print(pm_TEMP)
print(type(pm_TEMP))

       pm2.5  TEMP
0        NaN -11.0
1        NaN -12.0
2        NaN -11.0
3        NaN -14.0
4        NaN -12.0
...      ...   ...
43819    8.0  -2.0
43820   10.0  -3.0
43821   10.0  -3.0
43822    8.0  -4.0
43823   12.0  -3.0

[43824 rows x 2 columns]
<class 'pandas.core.frame.DataFrame'>

In [11]:
# Seleccionar filas
from seaborn import load_dataset

In [12]:
print(data.iloc[0:1,])

   No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES cbwd   Iws  Is  Ir
0   1  2010      1    1     0    NaN   -21 -11.0  1021.0   NW  1.79   0   0

In [13]:
print(data.iloc[50:65,1:6])

    year  month  day  hour  pm2.5
50  2010      1    3     2   65.0
51  2010      1    3     3   55.0
52  2010      1    3     4   65.0
53  2010      1    3     5   83.0
54  2010      1    3     6   91.0
55  2010      1    3     7   86.0
56  2010      1    3     8   82.0
57  2010      1    3     9   86.0
58  2010      1    3    10   78.0
59  2010      1    3    11   98.0
60  2010      1    3    12  107.0
61  2010      1    3    13   90.0
62  2010      1    3    14   96.0
63  2010      1    3    15   95.0
64  2010      1    3    16   86.0

In [14]:
data.tail()

          No  year  month  day  hour  pm2.5  ...  TEMP    PRES  cbwd     Iws  Is  Ir
43819  43820  2014     12   31    19    8.0  ...  -2.0  1034.0    NW  231.97   0   0
43820  43821  2014     12   31    20   10.0  ...  -3.0  1034.0    NW  237.78   0   0
43821  43822  2014     12   31    21   10.0  ...  -3.0  1034.0    NW  242.70   0   0
43822  43823  2014     12   31    22    8.0  ...  -4.0  1034.0    NW  246.72   0   0
43823  43824  2014     12   31    23   12.0  ...  -3.0  1034.0    NW  249.85   0   0

[5 rows x 13 columns]

In [15]:
# Seleccionar con filtro en base a una condición

data['month']>8 # Verdadero si cumple la condición

0        False
1        False
2        False
3        False
4        False
         ...
43819     True
43820     True
43821     True
43822     True
43823     True
Name: month, Length: 43824, dtype: bool

In [16]:
# Traer los registros que cumplen con la caracteristica de month mayor a 8
month8 = data[data['month'] > 8]  # Devuelve los valeres de auellos que son verdaderos
month8.info()
print('\n')
month8.shape
print('\n')
month8

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14640 entries, 5832 to 43823
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   No      14640 non-null  int64
 1   year    14640 non-null  int64
 2   month   14640 non-null  int64
 3   day     14640 non-null  int64
 4   hour    14640 non-null  int64
 5   pm2.5   13954 non-null  float64
 6   DEWP    14640 non-null  int64
 7   TEMP    14640 non-null  float64
 8   PRES    14640 non-null  float64
 9   cbwd    14640 non-null  object
 10  Iws     14640 non-null  float64
 11  Is      14640 non-null  int64
 12  Ir      14640 non-null  int64
dtypes: float64(4), int64(8), object(1)
memory usage: 1.6+ MB

          No  year  month  day  hour  pm2.5  ...  TEMP    PRES  cbwd     Iws  Is  Ir
5832    5833  2010      9    1     0   99.0  ...  22.0  1012.0    cv    0.89   0   0
5833    5834  2010      9    1     1  105.0  ...  22.0  1012.0    NE    0.89   0   0
5834    5835  2010      9    1     2  108.0  ...  22.0  1012.0    NW    0.89   0   0
5835    5836  2010      9    1     3  116.0  ...  22.0  1013.0    SE    1.79   0   1
5836    5837  2010      9    1     4   95.0  ...  20.0  1012.0    NE    4.02   0   2
...      ...   ...    ...  ...   ...    ...  ...   ...     ...   ...     ...  ..  ..
43819  43820  2014     12   31    19    8.0  ...  -2.0  1034.0    NW  231.97   0   0
43820  43821  2014     12   31    20   10.0  ...  -3.0  1034.0    NW  237.78   0   0
43821  43822  2014     12   31    21   10.0  ...  -3.0  1034.0    NW  242.70   0   0
43822  43823  2014     12   31    22    8.0  ...  -4.0  1034.0    NW  246.72   0   0
43823  43824  2014     12   31    23   12.0  ...  -3.0  1034.0    NW  249.85   0   0

[14640 rows x 13 columns]

Filas que no tengan valores faltantes en determinadas columnas

In [17]:
no_na = data[data['month'].notna()]
print(no_na.shape)
print(data.shape)

(43824, 13)
(43824, 13)

## Filas con valores especificos 
# Existen varias maneras de realizar estas busquedas, algunas de ellas son untilizando __isin__, __loc__ de la librería **seaborn** y **or**

In [18]:
data1 = data[data['TEMP'].isin([15,20])]
data1

          No  year  month  day  hour  pm2.5  ...  TEMP    PRES  cbwd    Iws  Is  Ir
2031    2032  2010      3   26    15   72.0  ...  15.0  1015.0    SE  26.82   0   0
2032    2033  2010      3   26    16   70.0  ...  15.0  1014.0    SE  31.74   0   0
2033    2034  2010      3   26    17   65.0  ...  15.0  1014.0    SE  36.66   0   0
2078    2079  2010      3   28    14   99.0  ...  15.0  1025.0    SE   4.02   0   0
2149    2150  2010      3   31    13    NaN  ...  15.0  1013.0    SE   1.79   0   0
...      ...   ...    ...  ...   ...    ...  ...   ...     ...   ...    ...  ..  ..
42589  42590  2014     11   10    13   41.0  ...  15.0  1021.0    SE   1.79   0   0
42590  42591  2014     11   10    14   56.0  ...  15.0  1020.0    SE   4.92   0   0
42591  42592  2014     11   10    15   59.0  ...  15.0  1019.0    SE   8.05   0   0
42592  42593  2014     11   10    16   68.0  ...  15.0  1019.0    SE  11.18   0   0
42855  42856  2014     11   21    15   88.0  ...  15.0  1019.0    NW   4.92   0   0

[2348 rows x 13 columns]

In [19]:
data2 = data[data['No'].isin([43822,43819])]
data2

          No  year  month  day  hour  pm2.5  ...  TEMP    PRES  cbwd     Iws  Is  Ir
43818  43819  2014     12   31    18   10.0  ...  -2.0  1033.0    NW  226.16   0   0
43821  43822  2014     12   31    21   10.0  ...  -3.0  1034.0    NW  242.70   0   0

[2 rows x 13 columns]

In [20]:
dataloc = data.loc[:, 'No'] == 43822 
dataloc = data.loc[dataloc]
dataloc

          No  year  month  day  hour  pm2.5  ...  TEMP    PRES  cbwd    Iws  Is  Ir
43821  43822  2014     12   31    21   10.0  ...  -3.0  1034.0    NW  242.7   0   0

[1 rows x 13 columns]

In [21]:
data[(data['No']==43822) | (data['No']== 43819)]

          No  year  month  day  hour  pm2.5  ...  TEMP    PRES  cbwd     Iws  Is  Ir
43818  43819  2014     12   31    18   10.0  ...  -2.0  1033.0    NW  226.16   0   0
43821  43822  2014     12   31    21   10.0  ...  -3.0  1034.0    NW  242.70   0   0

[2 rows x 13 columns]

Filas con más de de una caracteristica especifica

In [22]:
data[(data['month']==5) & (data['day'] <=3 )]

          No  year  month  day  hour  pm2.5  ...  TEMP    PRES  cbwd     Iws  Is  Ir
2880    2881  2010      5    1     0   62.0  ...  16.0  1010.0    cv    0.89   0   0
2881    2882  2010      5    1     1   70.0  ...  13.0  1009.0    SE    0.89   0   0
2882    2883  2010      5    1     2   66.0  ...   9.0  1009.0    cv    0.89   0   0
2883    2884  2010      5    1     3   70.0  ...   8.0  1009.0    cv    1.78   0   0
2884    2885  2010      5    1     4   82.0  ...   8.0  1009.0    NW    0.89   0   0
...      ...   ...    ...  ...   ...    ...  ...   ...     ...   ...     ...  ..  ..
38011  38012  2014      5    3    19  117.0  ...  19.0  1012.0    NW   65.27   0   0
38012  38013  2014      5    3    20   96.0  ...  17.0  1014.0    NW   76.45   0   0
38013  38014  2014      5    3    21   50.0  ...  16.0  1016.0    NW   88.52   0   0
38014  38015  2014      5    3    22   50.0  ...  14.0  1016.0    NW   99.70   0   0
38015  38016  2014      5    3    23   48.0  ...  13.0  1017.0    NW  109.53   0   0

[360 rows x 13 columns]

In [23]:
data[(data['month']==5) & (data['day'] <=3 )].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 360 entries, 2880 to 38015
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   No      360 non-null    int64
 1   year    360 non-null    int64
 2   month   360 non-null    int64
 3   day     360 non-null    int64
 4   hour    360 non-null    int64
 5   pm2.5   360 non-null    float64
 6   DEWP    360 non-null    int64
 7   TEMP    360 non-null    float64
 8   PRES    360 non-null    float64
 9   cbwd    360 non-null    object
 10  Iws     360 non-null    float64
 11  Is      360 non-null    int64
 12  Ir      360 non-null    int64
dtypes: float64(4), int64(8), object(1)
memory usage: 39.4+ KB

# Eliminar valores omitidos

In [24]:
#Elminar valores omitidos: dropna
# axis = 0, elimina fila completa
# axis = 1, Elimina columna completa 

data.dropna(subset=['DEWP'], axis=0, inplace=False) # Inplace modifica directamente la base de datos

          No  year  month  day  hour  pm2.5  ...  TEMP    PRES  cbwd     Iws  Is  Ir
0          1  2010      1    1     0    NaN  ... -11.0  1021.0    NW    1.79   0   0
1          2  2010      1    1     1    NaN  ... -12.0  1020.0    NW    4.92   0   0
2          3  2010      1    1     2    NaN  ... -11.0  1019.0    NW    6.71   0   0
3          4  2010      1    1     3    NaN  ... -14.0  1019.0    NW    9.84   0   0
4          5  2010      1    1     4    NaN  ... -12.0  1018.0    NW   12.97   0   0
...      ...   ...    ...  ...   ...    ...  ...   ...     ...   ...     ...  ..  ..
43819  43820  2014     12   31    19    8.0  ...  -2.0  1034.0    NW  231.97   0   0
43820  43821  2014     12   31    20   10.0  ...  -3.0  1034.0    NW  237.78   0   0
43821  43822  2014     12   31    21   10.0  ...  -3.0  1034.0    NW  242.70   0   0
43822  43823  2014     12   31    22    8.0  ...  -4.0  1034.0    NW  246.72   0   0
43823  43824  2014     12   31    23   12.0  ...  -3.0  1034.0    NW  249.85   0   0

[43824 rows x 13 columns]

# Manipulación datos textuales (Limpieza)

Para realizar la limpieza a una columna de la base de datos, se puede utilizar lo siguiebnte

* **Lower:** Pone en minusculas todo el texto
* **replace:** Reemplaza ciertos valores por otros
* **srtip:** Elimina los espacios al principio y al final de la cadena
* **title:** Poner primera letra de cada palabra en mayúscula

In [25]:
data['cbwd'] = (data['cbwd']
                .str.lower()
                # .str.replace('[^Záéíóúñ ]','')
                .str.replace(' +',' ')
                .str.strip()
                .str.title() 
                )

In [43]:
print(data)

          No  year  month  day  hour  pm2.5  ...  TEMP    PRES  cbwd     Iws  Is  Ir
0          1  2010      1    1     0    NaN  ... -11.0  1021.0    Nw    1.79   0   0
1          2  2010      1    1     1    NaN  ... -12.0  1020.0    Nw    4.92   0   0
2          3  2010      1    1     2    NaN  ... -11.0  1019.0    Nw    6.71   0   0
3          4  2010      1    1     3    NaN  ... -14.0  1019.0    Nw    9.84   0   0
4          5  2010      1    1     4    NaN  ... -12.0  1018.0    Nw   12.97   0   0
...      ...   ...    ...  ...   ...    ...  ...   ...     ...   ...     ...  ..  ..
43819  43820  2014     12   31    19    8.0  ...  -2.0  1034.0    Nw  231.97   0   0
43820  43821  2014     12   31    20   10.0  ...  -3.0  1034.0    Nw  237.78   0   0
43821  43822  2014     12   31    21   10.0  ...  -3.0  1034.0    Nw  242.70   0   0
43822  43823  2014     12   31    22    8.0  ...  -4.0  1034.0    Nw  246.72   0   0
43823  43824  2014     12   31    23   12.0  ...  -3.0  1034.0    Nw  249.85   0   0

[43824 rows x 13 columns]

# Creación de columnas a partir de otras

In [26]:
data['añosobremes'] = data['year']/data['month']
print(data[['añosobremes', 'year', 'month']])

       añosobremes  year  month
0      2010.000000  2010      1
1      2010.000000  2010      1
2      2010.000000  2010      1
3      2010.000000  2010      1
4      2010.000000  2010      1
...            ...   ...    ...
43819   167.833333  2014     12
43820   167.833333  2014     12
43821   167.833333  2014     12
43822   167.833333  2014     12
43823   167.833333  2014     12

[43824 rows x 3 columns]

Renombrar columnas

In [27]:
print(data.columns)
data.rename(columns={'añosobremes':'relacionañomes'}, inplace=True)
print('\n')
print(data.columns)

Index(['No', 'year', 'month', 'day', 'hour', 'pm2.5', 'DEWP', 'TEMP', 'PRES',
       'cbwd', 'Iws', 'Is', 'Ir', 'añosobremes'],
      dtype='object')


Index(['No', 'year', 'month', 'day', 'hour', 'pm2.5', 'DEWP', 'TEMP', 'PRES',
       'cbwd', 'Iws', 'Is', 'Ir', 'relacionañomes'],
      dtype='object')

Modificar tipo de dato de una columna

In [28]:
print(data.info())
print('\n')
data['hour'] = data['hour'].astype('int')
print('\n')
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43824 entries, 0 to 43823
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   No              43824 non-null  int64
 1   year            43824 non-null  int64
 2   month           43824 non-null  int64
 3   day             43824 non-null  int64
 4   hour            43824 non-null  int64
 5   pm2.5           41757 non-null  float64
 6   DEWP            43824 non-null  int64
 7   TEMP            43824 non-null  float64
 8   PRES            43824 non-null  float64
 9   cbwd            43824 non-null  object
 10  Iws             43824 non-null  float64
 11  Is              43824 non-null  int64
 12  Ir              43824 non-null  int64
 13  relacionañomes  43824 non-null  float64
dtypes: float64(5), int64(8), object(1)
memory usage: 4.7+ MB
None




<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43824 entries, 0 to 43823
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   No              43824 non-null  int64
 1   year            43824 non-null  int64
 2   month           43824 non-null  int64
 3   day             43824 non-null  int64
 4   hour            43824 non-null  int64
 5   pm2.5           41757 non-null  float64
 6   DEWP            43824 non-null  int64
 7   TEMP            43824 non-null  float64
 8   PRES            43824 non-null  float64
 9   cbwd            43824 non-null  object
 10  Iws             43824 non-null  float64
 11  Is              43824 non-null  int64
 12  Ir              43824 non-null  int64
 13  relacionañomes  43824 non-null  float64
dtypes: float64(5), int64(8), object(1)
memory usage: 4.7+ MB
None

#Eliminar filas y columnas

In [29]:
print(data.shape)

data3 = data.drop(data.iloc[0:3].index)
print('\n')
print(data3.shape)

(43824, 14)


(43821, 14)

In [41]:
data.drop(['PRES'], axis=1, inplace = True) # Para eliminar la columna
data.columns

KeyError: ignored

In [49]:
# Conteo 

data.groupby('year')['day'].count().head(10)

year
2010    8760
2011    8760
2012    8784
2013    8760
2014    8760
Name: day, dtype: int64